<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="employee"
		class="com.manipal.spring_core_demo3.model.Employee" autowire="constructor">
		<constructor-arg name="empId" value="10001" />
		<constructor-arg name="empName" value="Ram" />
		<constructor-arg name="salary" value="89000" />		
	</bean>

	<bean id="address1" class="com.manipal.spring_core_demo3.model.Address">
				<property name="streetNo" value="123" />
				<property name="city" value="Bengaluru" />
				<property name="pin" value="560001" />
			</bean>

	<!-- <bean id="address2" class="com.manipal.spring_core_demo3.model.Address">
				<property name="streetNo" value="3333" />
				<property name="city" value="Lucknow" />
				<property name="pin" value="680001" />
			</bean>
 -->



</beans>

